<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sekai Character Rank Leaderboard</title>
    <link rel="stylesheet" href="https://tsukasa-tenma.github.io/sekai-ranks/static/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://tsukasa-tenma.github.io/sekai-ranks/static/script.js"></script>
</head>

<body>
    <div class="gradient"></div>
    <div id="contents">
        <div id="header"></div>
        <div id="main">
            <div id="character">
                <div id="characterName">
                    <div id="nameJP" class="bigName"></div>
                    <div id="nameEN" class="bigName"></div>
                    <div id="unitLogo"></div>
                </div>
                <div id="characterImage"></div>
            </div>
            <div id="table"></div>
        </div>
    </div>
    <textarea id="data">{{data}}</textarea>
</body>
</html>